<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
                <p-toast></p-toast>

            <img style="background-color: white; padding: 6px; max-width: 100%" src="assets/images/logotecno.png"  />
            <h3>Ingreso</h3>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" name="usuario" [(ngModel)]="usuario.usuario" class="form-control input-underline input-lg" id="usuario" placeholder="{{ 'Email' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" [(ngModel)]="usuario.pass" class="form-control input-underline input-lg" id="password" placeholder="{{ 'Password' | translate }}">
                    </div>
                </div>
                <!-- <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()">{{ 'Log in' | translate }}</a>
                &nbsp; -->
                <button type="button" class="btn rounded-btn" (click)="authentica()">{{ 'Log in' | translate }}</button>

                <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a>

            </form>
        </div>
    </div>
</div>
