<div>
    <!-- <app-page-header [heading]="'Bootstrap Grid'" [icon]="'fa-wrench'"></app-page-header> -->
<h2>Módulo</h2>
    <div class="row">
        <div class="col-x1-12">
            <!-- <p-table [columns]="cols" [value]="modulos" selectionMode="single" [(selection)]="moduloSeleccionado" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15"> -->
            <p-table
                #dt
                [columns]="cols"
                [value]="modulos"
                [lazy]="true"
                (onLazyLoad)="loadCarsLazy($event)"
                (onFilter)="columnFilter($event)"
                [paginator]="true"
                (onRowSelect)="onRowSelect($event)"
                [rows]="10"
                [filterDelay]="400"
                [totalRecords]="totalrecords"
                [loading]="loading"
                selectionMode="single"
                [(selection)]="moduloSeleccionado"
                dataKey="idModulo"

            >
                <ng-template pTemplate="caption">
                    Módulos
                </ng-template>
                <ng-template pTemplate="caption">
                    <div style="text-align: right">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input
                            type="text"
                            pInputText
                            size="50"
                            placeholder="Busqueda"
                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                            style="width:auto"
                        />
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{ col.header }}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns">
                            {{ rowData[col.field] }}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary" let-rowData>
                    <div style="text-align:right">
                        <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Nuevo"></button>
                        <button type="button" pButton icon="fa fa-plus" (click)="borrar()" label="Borrar"></button>
                        <button type="button" pButton icon="fa fa-plus" (click)="showDialogToEdit()" label="Editar"></button>

                    </div>
                </ng-template>
            </p-table>
        </div>
        <!-- /.row -->

        <p-dialog
            header="Módulo"
            [(visible)]="displayDialog"
            [responsive]="true"
            showEffect="fade"
            [modal]="true"
            [style]="{ width: '300px' }"
        >
        <form name="form" (ngSubmit)="f.form.valid && guardar()" #f="ngForm"  novalidate>

            <div class="ui-g ui-fluid" *ngIf="modulo">
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="vin">Nombre</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText class="form-control {{!nombre.valid?'is-invalid':''}}" name="nombre" #nombre="ngModel" required [(ngModel)]="modulo.nombre" />
                        <div *ngIf="!nombre.valid" class="invalid-feedback">Requerido</div>  

                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="year">Descripción</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText class="form-control {{!descripcion.valid?'is-invalid':''}}" name="descripcion" #descripcion="ngModel" required [(ngModel)]="modulo.descripcion" />
                        <div *ngIf="!descripcion.valid" class="invalid-feedback">Requerido</div>  
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="color">Roles</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText class="form-control" name="roles" #roles="ngModel" [(ngModel)]="modulo.roles" />
                    </div>
                </div>
            </div>

            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                    <!-- <button type="button" pButton icon="fa fa-close" (click)="borrar()" label="Borrar"></button> -->
                    <button type="submit" [disabled]="!f.valid" pButton icon="fa fa-check"  label="Guardar"></button>
                </div>
            </p-footer>
        </form>
        </p-dialog>
        <!-- /.row -->
    </div>
</div>
